build
commands.txt
src/engine/shaders/
src/engine/textures/assets/
scripts/model_loader/raw/*
scripts/model_loader/venv
scripts/texture_packer/venv
scripts/scene_gen/venv
!scripts/model_loader/raw/.gitkeep
todo.txt
osd
osd/
src/game/saved_scene/scene_1M.json